<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FarmEasy</title>
    <link rel="stylesheet" href="/css/index.css" />
    <!-- <link rel="stylesheet" href="/public/css/index1.css" />
    <link rel="stylesheet" href="/public/css/index2.css" /> -->
    <link rel="stylesheet" href="/css/chat.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Google Fonts Link For Icons -->
    <link rel="icon" type="image/x-icon" href="" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,400,1,0"
    />
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <script src="/javascript/script.js" defer></script>
    <script src="/javascript/speech.js" defer></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>

  <body>
    <section class="background">
      <nav>
        <div class="nav-title">FarmEasy</div>
        <div class="nav-links">
          <div class="nav-link">Blog</div>
          <div class="nav-link">About</div>
          <div class="nav-link">Contact Us</div>
        </div>
      </nav>
      <div class="landing">
        <div>
          <div class="landing-title">Modern Way Of Inventory Management</div>
          <!-- <p>
            <strong> Efficiency: Your Smart Inventory Solution for Seamless Operations.</strong>
          </p> -->
          <div class="btns">
            <button class="btn btn-solid">
              <a style="color: black" href="/login">Login</a>
            </button>
            <button class="btn btn-outline">
              <a href="/register/patient">Register</a>
            </button>
          </div>
        </div>
        <div class="illustration">
          <img
            src="https://cdn.pixabay.com/photo/2014/07/06/17/20/tractor-385681_1280.jpg"
            alt="illustration"
          />
        </div>
      </div>
    </section>
    <button class="chatbot-toggler">
      <span class="material-symbols-rounded">mode_comment</span>
      <span class="material-symbols-outlined">close</span>
    </button>
    <div class="chatbot">
      <header>
        <h2>Chatbot</h2>
        <span class="close-btn material-symbols-outlined">close</span>
      </header>
      <ul class="chatbox">
        <li class="chat incoming">
          <span class="material-symbols-outlined">smart_toy</span>
          <p>
            Hi there 👋
            Select option 
            1 - Equipment Registration 
            2 - Seed Registration
            3 - Crafting Item Registration
            </p>
        </li>
      </ul>
      <div class="chat-input">
        <textarea
          placeholder="Enter a message..."
          spellcheck="false"
          required
        ></textarea>
        <span id="send-btn" class="material-symbols-rounded">send</span>
        <span id="mic-icon" class="mic-icon"
          ><svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-mic-fill"
            viewBox="0 0 16 16"
          >
            <path d="M5 3a3 3 0 0 1 6 0v5a3 3 0 0 1-6 0z" />
            <path
              d="M3.5 6.5A.5.5 0 0 1 4 7v1a4 4 0 0 0 8 0V7a.5.5 0 0 1 1 0v1a5 5 0 0 1-4.5 4.975V15h3a.5.5 0 0 1 0 1h-7a.5.5 0 0 1 0-1h3v-2.025A5 5 0 0 1 3 8V7a.5.5 0 0 1 .5-.5"
            /></svg
        ></span>
      </div>

      <!-- Existing HTML content -->

      <!-- Div to display selected options and amounts -->
      <div id="selectedOptions"></div>
    </div>
    <!-- <div class="container" id="down">
      
    </div> -->
    <!-- <div class="video-cont"> -->
    <img
      class="image"
      src="https://cdn.pixabay.com/photo/2017/06/11/02/05/wheat-2391348_1280.jpg"
      alt="Image"
    />
    <div class="text">
      Farmers, the unsung heroes, form the very backbone of our society,
      nurturing the land and cultivating sustenance for all.
    </div>

    <!-- </div> -->
    <section class="blog-section">
      <h1>Blog</h1>
      <div class="article-container">
        <div class="article">
          <img
            src="https://cdn.pixabay.com/photo/2016/12/16/13/18/canola-fields-1911392_640.jpg"
            alt="blog1"
          />
          <div class="content">
            <h4>
              Utilizing Cover Crops: Enhancing Soil Health and Farm
              Sustainability
            </h4>
            <p>
              Incorporating cover crops into crop rotations enhances soil
              health, suppresses weeds, and boosts farm productivity, while
              minimizing environmental impact.
            </p>
          </div>
        </div>
        <div class="article">
          <img
            src="https://www.tafe.com/blog/wp-content/uploads/2021/09/water-conservation-practices-for-your-farm-img-2-1024x597.jpg"
            alt="blog1"
          />
          <div class="content">
            <h4>Water Conservation Strategies</h4>
            <p>
              Implementing drip irrigation systems and utilizing mulching
              techniques are effective water conservation strategies for
              optimizing water usage in agriculture.
            </p>
          </div>
        </div>
        <div class="article">
          <img
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcShQcRk3_KZ1BQinkX5VG10Xml1QTZmYGxqgQ&usqp=CAU"
            alt="blog1"
          />
          <div class="content">
            <h4>Climate-Resilient Farming Practices</h4>
            <p>
              Adopt climate-resilient farming practices to mitigate risks posed
              by climate change, including drought management, flood
              preparedness, and selecting resilient crops for sustainable
              agriculture.
            </p>
          </div>
        </div>
        <div class="article">
          <img src="/images/doc1.jpg" alt="blog1" />
          <div class="content">
            <h4>Weed Suppression and Pest Management</h4>
            <p>
              The world is getting smaller and
              <!-- <br /> -->
              we are becoming more mobile.So,
              <!-- <br /> -->
              why should you be forced to only
              <!-- <br /> -->
              recieve money in a single...
            </p>
          </div>
        </div>
      </div>
    </section>

    <section class="footer-new">
      <div class="description">
        Commodo eu aliqua labore nulla enim voluptate magna. Pariatur enim
        adipisicing sint pariatur consequat. Proident ut sint anim amet. Veniam
        elit culpa deserunt labore consequat sit irure aute enim veniam
        reprehenderit. Qui proident aute nisi sint incididunt est nulla culpa
        minim magna aliquip id enim laborum. Voluptate ut eiusmod cupidatat
        veniam mollit enim veniam ullamco do. Do mollit Lorem eiusmod esse. Id
        occaecat aliqua elit irure et. Dolor adipisicing eu ea ea elit
        adipisicing et. Pariatur fugiat ad id ullamco est id fugiat duis
        nostrud. Minim enim non eu pariatur ea adipisicing ad sint aute ipsum
        aliqua. Adipisicing qui Lorem aliqua nostrud consequat dolore voluptate
        est.
      </div>
      <footer class="footer">
        <div class="footer-container">
          <div class="social-container">
            <img src="/images/icon-facebook.svg" alt="" />
            <img src="/images/icon-instagram.svg" alt="" />
            <img src="/images/icon-twitter.svg" alt="" />
            <img src="/images/icon-pinterest.svg" alt="" />
          </div>
          <div class="menu">
            <ul>
              <li>
                <a href="#">About us</a>
              </li>
              <li>
                <a href="#">Contact us</a>
              </li>
              <li>
                <a href="#">Blog</a>
              </li>
            </ul>
          </div>
          <div class="menu">
            <ul>
              <li><a href="#">Carriers</a></li>
              <li><a href="#">Support</a></li>
              <li><a href="#">Privacy Policy</a></li>
            </ul>
          </div>
          <button class="last-btn">Request Invite</button>
        </div>
      </footer>
    </section>
  </body>
</html>
